# ----------------------
# Python
# ----------------------
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
.env.*

# ----------------------
# Node
# ----------------------
node_modules/
dist/
build/
.vite/

# ----------------------
# OS
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# Testing / Coverage
# ----------------------
.coverage
htmlcov/
.pytest_cache/